/* PAGE INICIAL */

svg.svg-inline--fa.fa-bars.fa-w-14 {
  display: none;
}


@media screen and (max-width: 600px) {

  #container {
    width: 90%;
    display: block;
  }

  #intro {
    width: 100%;
    margin-bottom: 50px;
  }

  header {
    text-align: center;
  }

  .idea {
    display: block;
    padding: 20px;
  }

  .idea-img {
    display: flex;
    justify-content: center;
  }

  .idea img {
    margin: 15px 0;
  }

  .idea .content h3,
  .idea .content p {
    text-align: center;
  }

  #pages-ideas header {
    padding: 0;
    position: fixed;
  }

  #page-ideas header img {
    width: 200px;
    padding: 0;
  }

  #page-ideas header {
    flex-wrap: wrap;
  }

  .menu-toggle {
    padding: 2px 8px;
    font-size: 35px;
    outline: none;
    display: block;
    color: #ff5384;
  }

  .menu-mobile {
    display: block;
    width: 100%;
    transition: all 1s;
    position: relative;
    transform: translateX(500px);
  }

  .menu-mobile nav {
    visibility: hidden;
    flex-direction: column !important;
    margin: 0 auto;
    text-align: center;
    transform: translateX(500px);
    transition: all .5s;
  }



  nav li {
    margin: 20px auto;
  }

  nav li:last-child a {
    margin: 0 auto;
  }

  #page-ideas #grid-ideas {
    grid-template-columns: 1fr;
  }

  #page-ideas .idea img {
    margin: 15px 0;
  }

  #page-ideas .idea .content h3,
  #page-ideas .idea .content p {
    text-align: center;
  }

  svg.svg-inline--fa.fa-bars.fa-w-14 {
    display: block;
  }

  main {
    margin: 32px 0;
    transform: translateY(-80px);
    margin: 0;
  }
  #title {
    text-align: center;
    transform: translateY(-80px);
  }

}
@media (min-width: 601px) and (max-width: 959px) {
  #container {
    width: 90%;
    display: block;
  }

  #intro {
    width: 100%;
    margin-bottom: 50px;
  }

  header {
    text-align: center;
  }

  .menu-toggle {
    display: none;
  }

  .menu-mobile {
    display: block;
    transition: all 1s;
  }

  .menu-mobile nav {
    visibility: hidden;
    margin: 0 auto;
    text-align: center;
    transition: all .5s;
  }

}


@media screen and (min-width: 960px) {
  .menu-mobile {
    display: block;
    transition: all 1s;
  }

  .menu-mobile nav {
    visibility: hidden;
    margin: 0 auto;
    text-align: center;
    transition: all .5s;
  }
}


/* PAGE IDEAS */

@media screen and (min-width: 600px) and (max-width: 840px) {
  #page-ideas #grid-ideas {
    grid-template-columns: 1fr;
  }
}