html { 
  overflow-x: hidden;
}
body {
  background: #e5e5e5;
  color: #25282b;

  font-family: 'Montserrat', sans-serif;

  margin: 0;
}

body.hideScroll {
  overflow: hidden;
}

a {
  color: #ff5384;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
.description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

#container {
  width: 80%;
  max-width: 980px;

  margin: 40px auto;

  display: flex;
}

#intro {
  width: 300px;

  margin-right: 20px;
}

main {
  margin: 32px 0;
}

#buttons {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 32px;
}

button {
  color: #ff5384;
  background: none;
  outline: none;

  border: none;

  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

a.fat {
  color: white;
  background: #ff5e84;
  width: 150px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  box-shadow: 0px 8px 16px #ff538432;

  transition: all .3s;
}

a.fat:hover {
  text-decoration: none;

  background: #c64167;
}

footer {
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: #777;
}

footer a {
  opacity: 0.8;
}

.idea {
  display: flex;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);

  padding: 32px;
  margin: 0 0 32px;
}

.idea img {
  width: 60px;
  height: 60px;

  margin-right: 20px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

.idea .close {
  width: 10px;
  position: relative;
  bottom: 20px;
}

.idea button {
  width: 10px;
  height: 10px;
}

.idea .close i {
  color: #ff5384;
  cursor: pointer;
}

/* MODAL */

#modal {
  background: #ff5e84;

  position: fixed;
  top: 0;
  
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 400ms;
}

#modal.addScroll {
  overflow: auto;
}

#modal .content {
  color: white;
}

#modal .content h1 {
  text-align: center;

  text-transform: uppercase;
}

#modal form {
  width: 80%;
  max-width: 800px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

form .input-wrapper {
  margin:0;
}

form input,
form textarea {
  width: 100%;

  padding: 8px;

  border-radius: 8px;
  border: 1px solid rgba(141, 25, 51, 0.1);
  box-sizing: border-box;

  outline: none;

  font-size: 16px;
}

form label {
  font-weight: 600;
  line-height: 32px;
}

form a {
  background: #ffffff22;
  color: white;

  width: 140px;
  height: 40px;

  border-radius: 8px;

  cursor: pointer;

  margin-top: 10px;


  transition: all 0.2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
}

form a:hover {
  background: white;
  color: #ff5384;

  text-decoration: none;
}


form button {
  background: #ffffff22;
  color: white;

  width: 140px;
  height: 40px;

  border-radius: 8px;

  cursor: pointer;

  margin-top: 10px;

  grid-column: 2;
  justify-self: end;

  transition: all 0.2s ease-in-out;
}

form button:hover {
  background: white;
  color: #ff5384;

  text-decoration: none;
}

#modal.hide {
  visibility: hidden;
  opacity: 0;
}

/* IDEIAS */

#page-ideas #container {
  display: block;
}

#page-ideas header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

nav {
  display: flex;
  align-items: center;
  list-style: none;
}

nav li {
  cursor: pointer;
  margin-right: 20px;
}

nav li:last-child {
  margin: 0;
}


nav li:last-child a {
  color: white;

  background: #ff5384;

  border-radius: 8px;

  width: 150px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .3s;

  text-decoration: none;

  font-weight: bold;
  font-size: 14px;
}

nav li:last-child a:hover {
  background: #c64167;
}

nav li a {
  color: #25282b;
}

#title {
  text-align: center;
  margin: 60px ;
}
#title p {
  margin: 0;

  opacity: 0.8;
}

#title h1 {
  font-size: 30px;
  letter-spacing: 0.8px;

  margin: 0;
}


#grid-ideas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  margin-bottom: 60px;
}

#grid-ideas .idea {
  margin: 0;
}